.app .main {
  background-color: rgb(243, 239, 234);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}
.app .main h1 {
  font-size: 100px;
  color: rgb(32, 32, 32);
  z-index: 2;
}
.app .main .form {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(223, 142, 95);
  padding: 1rem;
  margin: 2rem;
  border-radius: 25px;
  z-index: 2;
}
.app .main .logo {
  width: auto;
  height: 175px;
}
.app .infoDiv {
  background-color: wheat;
  height: 200px;
}
.app .infoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: fit-content;
  flex-direction: column;
}
.app .infoDiv h2 {
  margin: 2rem;
}
.app .infoDiv p {
  margin: 2rem;
}
.app .infoDiv .itemList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}